body {
    text-align: center;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    max-width: 1200px;

}

main section {
    flex: 2;
    min-width: 400px;
    border: 2px solid black;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    transition: color 0.5s ease;
}

nav a:hover {
    color: pink;
}

button {
    transition: background-color 0.3s ease;
    color: white;
    border: 0;
    border-radius: 10px;
    background-color: black;
    padding: 12px 24px;
}

button:hover {
    background-color: pink;
    color: rgb(0, 0, 0);
}